
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;

    max-width: 1580px;
}

body{
    background-color: #190919;
    color: 	#DFB6B2;
    
}


/* Styles NavBar */

nav{
    display: flex;
   position: sticky;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 1px solid #522B5B;
    list-style: none;
    margin: 5px;
}

ul{
    
    list-style: none;
    width: 100%;
    
    
}

li a{
    margin-top: 3%;
    text-decoration: none;
    color: 	#DFB6B2;
    font-family:Open Sans;
    font-weight: 600;
    font-size: 25px;
}

li a:hover{
    color: #854F6C;
    text-shadow: 0.2em 0.2em 0.4em #522B5B;
    transition: 0.5s;
}

/* ______________________________________________________ */
/* Main */

main {
    padding: 50px
}

.apre h1{
    color: #DFB6B2;
    font-size: 45px;
}

.apre p{
    font-size: 25px;
}

span {
    color: #854F6C;
}

/* ______________________________________________________ */
/* Section - Linguagens */

 section {
    align-items: center;
    justify-content: center;
 }

 .titulo {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid #522B5B;
    color: #854F6C;
 }

 /*_________________________________________________________ */
 /* Responsividade */


/* Telas médias */
 @media screen and (max-width:1023px){

  
    
 }

 /* Telas pequenas */
 @media screen and (max-width:767px){

    /* NavBar */
    nav {

        display: flex;
        flex-direction: column;
        font-size:15px;
        padding-top: 4px;
        border-bottom: 1px solid #522B5B;
        
    }
    

    
    li a{
        font-size: 15px;
        padding-top: 3px;
       
    
    }

    /* Main */

    main {
        padding: 45px;
    }

    .apre h1{
        font-size: 25px;
    }
    
    .apre p{
        font-size: 15px;
    }

}